<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
   <title>Document</title>
</head>
<body>
   <h1>Welcome To Library Lite!</h1>
   <section>
       <h2>Add Books</h2>
       <form action="/addBook" method="POST" class="flex flex-col">
           <div>
               <div>
                   <label for="title">Title</label>
                   <input
                       placeholder="The Stranger"
                       type="text"
                       name="title"
                       id="title"
                       required >
                </div>

                <div>
                    <label for="author">Author</label>
                    <input
                        placeholder="Albert Camus"
                        type="text"
                        name="author"
                        id="author"
                        required >
                </div>
           </div>
           <button type="submit">Add Book</button>
       </form>
   </section>


<section>
  <h2>Your Books</h2> 
  <ul>
     <% for(const book of bookInfo) { %>
        <li>
           <span>
              <%= book.title %> by <%= book.author %>
           </span>
        </li>
     <% } %>
  </ul>
</section>

<ul>
  <% for(const book of bookInfo) { %>
     <li>
        <span>
           <%= book.title %> by <%= book.author %>
        </span>
       <button class="delete">Delete</button>
     </li>
  <% } %>
</ul>


<section>
    <section>
        <h2>Want To Read</h2>
        <ul>
            <% for(const book of bookInfo) {
                if(book.read === false) { %>
                    <li>
                        <span>
                            <%= book.title %> by <%= book.author %>
                        </span>
                        <button class="delete">Delete</button>
                        <button class="mark-read">Mark Read</button>
                    </li>
                <% }
            } %>
        </ul>
    </section>
    <section>
        <h2>Read</h2>
        <ul>
            <% for(const book of bookInfo) {
                if(book.read === true) { %>
                    <li>
                        <span>
                            <%= book.title %> by <%= book.author %>
                        </span>
                        <button class="delete">Delete</button>
                        <button class="mark-unread">Mark Unread</button>
                    </li>
                <% }
            } %>
        </ul>
    </section>
</section>





   <script src="/main.js"></script>
</body>
</html>
